* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Keep padding and borders in check */
}
body {
    font-family: Arial, sans-serif;
}

h1 {
    font-size: 2em;
}

label, input, button {
    margin: 5px 0;
}

input {
    width: 300px;
    padding: 5px;
}

button {
    padding: 5px 10px;
    cursor: pointer;
}

ul {
    list-style-type: disc;
    margin-top: 10px;
}

li {
    margin: 10px 0;
    display: flex;
    align-items: center;
}

li button {
    margin-left: 20px;
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
}